@import url('./common/common.css');
@import url('./component/button.css');
@import url('./component/input.css');
@import url('./component/combobox.css');
@import url('./component/table.css');
@import url('./component/navigation.css');
@import url('./component/chip-status.css');
@import url('./component/toast.css');

@import url('./common/header.css');
@import url('./common/navbar.css');
@import url('./common/content.css');
body{
    font-family: 'GoogleSans-Regular';
    font-size: 13px;
    margin: 0;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf');
}