.m-navbar{
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.m-navbar .m-toggle img{
    width: 24px;
    padding: 12px 10px 12px 16px;
    float: left;
}
.m-navbar .m-logo img{
    height: 28px;
    padding: 12px 0;
}
/* ====== menu ======== */
.m-navbar .m-menu ul{
    padding-left: 0;
}
.m-navbar .m-menu ul li{
    height: 44px;
    line-height: 44px;
    list-style: none;
    padding: 0 16px;
}
.m-navbar .m-menu ul li a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: #000000;
}
.m-navbar .m-menu ul li a img{
    width: 20px;
    padding: 12px 10px 12px 0;
}
.m-navbar .m-menu ul li:hover{
    background-color: #e5e5e5;
    color: #000000;
    cursor: pointer;
}
.m-navbar .m-menu ul li:focus,
.m-menu ul li.active{
    background-color: #019160;
}
.m-navbar .m-menu ul li:focus a,
.m-menu ul li.active a{
    color: #ffffff;
}
